@import "./mixin.scss";

// el-button
.el-button {
  line-height: 0 !important;

  &--primary:focus {
    background-color: $primary-color;
  }

  // &.is-text:not(.is-disabled):focus {
  //   background-color: transparent;
  // }
}

// el-pagination
.el-pagination {
  justify-content: center
}

// el-card
.el-card {
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 4px !important;

  .el-card__body {
    padding: 16px !important;
  }
}