@import "./mixin.scss";

#app,
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f8f8f8;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

#nprogress {
  .bar {
    background: $primary-color !important; //自定义颜色
  }

  .spinner-icon {
    border-color: $primary-color transparent transparent $primary-color;
  }
}

.form-item {
  &-flex {
    @include flex-row(flex-start);

    .line {
      margin: 0 17px;
    }
  }

  &-100 {
    width: 100px !important;
  }

  &-150 {
    width: 150px !important;
  }

  &-200 {
    width: 200px !important;
  }

  &-220 {
    width: 220px !important;
  }

  &-340 {
    width: 340px !important;
  }
}

.status {
  &-primary {
    color: $primary-color;
  }

  &-success {
    color: $success-color;
  }

  &-error {
    color: $danger-color;
  }

  &-warning {
    color: $warning-color;
  }

  &-info {
    color: $font-color-info;
  }
}

// el-button
.el-button {
  line-height: 0 !important;

  &--primary:focus {
    background-color: $primary-color;
  }

  // &.is-text:not(.is-disabled):focus {
  //   background-color: transparent;
  // }
}

// el-pagination
.el-pagination {
  justify-content: center
}

// el-card
.el-card {
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 4px !important;

  .el-card__body {
    padding: 16px !important;
  }
}